<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
</head>
<body>
    <h3>
        {% if Individual.UserType == 'ADMIN' %}
            <a href="{% url 'AdminHome' %}">Back</a>
        {% elif Individual.UserType == 'MANAGER' %}
            <a href="{% url 'ManagerHome' %}">Back</a>
        {% else %}
            <a href="{% url 'EmployeeHome' %}">Back</a>
        {% endif %}
	</h3>

	<h2>Employee Information</h2>

    {% if AdminRequest == 'POST' %}

        <table>
        <tr>
            <td><b>First Name</b></td>
				<td>{{InternalUser.FirstName}}</td>
        </tr>
        <tr>
            <td><b>Last Name</b></td>
				<td>{{InternalUser.LastName}}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
				<td>{{InternalUser.Email}}</td>
        </tr>
        <tr>
            <td><b>Address</b></td>
				<td>{{InternalUser.Address}}</td>
        </tr>
        <tr>
            <td><b>City</b></td>
				<td>{{InternalUser.City}}</td>
        </tr>
        <tr>
            <td><b>State</b></td>
				<td>{{InternalUser.State}}</td>
        </tr>
        <tr>
            <td><b>Zip Code</b></td>
				<td>{{InternalUser.Zip}}</td>
        </tr>
        <tr>
            <td><b>SSN</b></td>
				<td>{{InternalUser.SSN.SSN}}</td>
        </tr>
    </table>

    {% else %}

        <form action="InternalUserLookup" method="post"> {% csrf_token %}
        <table>
            <tr>
		        <td>Employee Username: </td>
		        <td>
                    <input type="text" name="EmployeeUsername" maxlength="30"/>
		        </td>
	        </tr>
            <tr>
                <td> <input type="submit" value="Submit"> </td>
            </tr>
            <tr>
                <td>{{ Message }}</td>
            </tr>
        </table>
    </form>
    {% endif %}
</body>
</html>