<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Information</title>
</head>
<body>
    <h3>
        {% if Individual.UserType == 'ADMIN' %}
            <a href="{% url 'AdminHome' %}">Back</a>
        {% elif Individual.UserType == 'MANAGER' %}
            <a href="{% url 'ManagerHome' %}">Back</a>
        {% else %}
            <a href="{% url 'EmployeeHome' %}">Back</a>
        {% endif %}
	</h3>

	<h2>Employee Information</h2>

    {% if AdminRequest == 'POST' %}
        <form action="InternalUserLookup" method="post"> {% csrf_token %}
        {{ IndividualForm.as_p }}
        <table>
        <tr>
            <td><b>SSN</b></td>
				<td>{{InternalUser.SSN.SSN}}</td>
        </tr>
        <tr>
            <td>
                    <input type="submit" name="Save" value="Save">
            </td>
            <td>
                    <input type="submit" name="Delete" value="Delete">
            </td>
        </tr>
        </table>
        <input type="hidden" name="EmployeeUsername" value={{ InternalUser.Username }}>
        </form>

    {% else %}

        <form action="InternalUserLookup" method="post"> {% csrf_token %}
        <table>
            <tr>
		        <td>Employee Username: </td>
		        <td>
                    <input type="text" name="EmployeeUsername" maxlength="30"/>
		        </td>
	        </tr>
            <tr>
                <td> <input type="submit" value="Submit"> </td>
            </tr>
            <tr>
                <td>{{ Message }}</td>
            </tr>
        </table>
    </form>
        <form action="AddInternalUser" method="post"> {% csrf_token %}
            <input type="submit" value="Add New Internal User">
        </form>
    {% endif %}
</body>
</html>