
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

<div>
	<h2>Welcome {{Individual.FirstName}} {{Individual.LastName}}</h2>
		<div>
		<form action="doTransfer" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <table>
            <tr>
		        <td>From Account: </td>
		        <td>{{ Account.AccNo }}
		            <input type="hidden" name="AccNo" value="{{ Account.AccNo }}" />
		        </td>
	        </tr>
            <tr>
                <td>To Account: </td>
		            <td><input type="text" name="ToAccount" maxlength="30"/></td>
            </tr>
	        <tr>
		        <td>Amount: </td>
		            <td><input type="text" name="Amount" maxlength="30"/></td>
            </tr>
            <tr>
				<td colspan="2"><br /> If transfer amount is more than 500 units,
					please upload your private key file for validation.</td>
			</tr>
            <tr>
				<td>Private Key File Location:</td>
				<td><input type="file" name="PrivateKeyFileLoc" /></td>
			</tr>
            <tr>
                <td> <input type="submit" value="Submit"> </td>
                <td>
                    {% if Individual.UserType == 'INDIVIDUAL' %}
                        <a href="{% url 'IndividualHome' %}">Cancel</a>
                    {% else %}
                        <a href="{% url 'MerchantHome' %}">Cancel</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
				<td colspan="2"><br /> T&C: By clicking the submit button,
                you are authorizing all the internal users to access your transaction.</td>
			</tr>
            </table>
            {{ Message }}
        </form>
</div>
</div>
</body></html>